<%= simple_form_for(@ministerial_role) do |f| %>
  <% if @ministerial_role.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@ministerial_role.errors.count, "error") %> prohibited this ministerial_role from being saved:</h2>

      <ul>
      <% @ministerial_role.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class=>"form-control" %>
  </div>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
