<h1><%= t('listing') %> <%=t('ministerial_roles') %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('name') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @ministerial_roles.each do |ministerial_role| %>
      <tr>
        <td><%= ministerial_role.name %></td>
        <td><%= link_to t('show'), ministerial_role %></td>
        <td><%= link_to t('edit'), edit_ministerial_role_path(ministerial_role) %></td>
        <td><%= link_to t('destroy'), ministerial_role, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('new')+' '+t('ministerial_role'), new_ministerial_role_path, :class=>"btn btn-primary" %>
