<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= @member_contact.member %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @member_contact.contact_name %>
</p>

<p>
  <strong>Contact number:</strong>
  <%= @member_contact.contact_number %>
</p>

<p>
  <strong>Degree kinship:</strong>
  <%= @member_contact.degree_kinship %>
</p>

<%= link_to 'Edit', edit_member_contact_path(@member_contact) %> |
<%= link_to 'Back', member_contacts_path %>
