<%= simple_form_for(@chruch) do |f| %>
  <% if @chruch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chruch.errors.count, "error") %> prohibited this chruch from being saved:</h2>

      <ul>
      <% @chruch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %><br>
    <%= f.text_field :name, :class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, :class=>"form-control phone" %>
  </div>
  <div class="form-group">
    <%= f.label :address %><br>
    <%= f.text_field :address, :class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :neighborhood %><br>
    <%= f.text_field :neighborhood, :class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :city %><br>
    <%= f.text_field :city, :class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :state %><br>
    <%= f.text_field :state, :class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :country %><br>
    <%= f.country_select :country,{priority_countries: ["BR"], prompt: :select_country},{:class=>"form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label :zip_code %><br>
    <%= f.text_field :zip_code, :class=>"form-control zip-code" %>
  </div>
  <div class="form-group">
    <%= f.label :member_id %><br>
    <%= f.text_field :member_id, :class=>"form-control" %>
  </div>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
