<%= simple_form_for(@chruch) do |f| %>
  <% if @chruch.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@chruch.errors.count, "error") %> prohibited this chruch from being saved:</h2>

      <ul>
      <% @chruch.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label t(:name) %><br>
    <%= f.text_field :name, :class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label t(:phone) %><br>
    <%= f.text_field :phone, :class=>"form-control phone" %>
  </div>
  <div class="form-group">
    <%= f.label t(:address) %><br>
    <%= f.text_field :address, :class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label t(:neighborhood) %><br>
    <%= f.text_field :neighborhood, :class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label t(:city) %><br>
    <%= f.text_field :city, :class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label t(:state) %><br>
    <%= f.text_field :state, :class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label t(:country) %><br>
    <%= f.country_select :country,{priority_countries: ["BR"], prompt: :select_country},{:class=>"form-control"} %>
  </div>
  <div class="form-group">
    <%= f.label t(:zip_code) %><br>
    <%= f.text_field :zip_code, :class=>"form-control zip-code" %>
  </div>
  <div class="form-group">
    <%= f.label t(:member_id) %><br>
    <%= f.select :member_id, @members.collect { |m| [m.name, m.id]},{:prompt=>"--"},{:class=>"form-control"} %>
  </div>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
