<h1><%= t('listing_chruches') %></h1>

<%= link_to t('new_chruch'), new_chruch_path, :class=>"btn btn-primary" %>
<br/>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('name') %></th>
      <th><%= t('phone') %></th>
      <th><%= t('address') %></th>
      <th><%= t('neighborhood') %></th>
      <th><%= t('city') %></th>
      <th><%= t('state') %></th>
      <th><%= t('country') %></th>
      <th><%= t('zip_code') %></th>
      <th><%= t('pastor') %></th>
      <th><%= t('members') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @chruches.each do |chruch| %>
      <tr>
        <td><%= chruch.name %></td>
        <td><%= chruch.phone %></td>
        <td><%= chruch.address %></td>
        <td><%= chruch.neighborhood %></td>
        <td><%= chruch.city %></td>
        <td><%= chruch.state %></td>
        <td><%= chruch.country %></td>
        <td><%= chruch.zip_code %></td>
        <td><%= chruch.member.nil? ? '' : chruch.member.name %></td>
        <td><%= Member.where(:church_id=>chruch.id).count %></td>
        <td><%= link_to t('show'), chruch %></td>
        <td><%= link_to t('edit'), edit_chruch_path(chruch) %></td>
        <td><%= link_to t('destroy'), chruch, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>