<%= simple_form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this chruch from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :email, 'E-mail' %><br>
    <%= f.text_field :email, :class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password, t(:password) %><br>
    <%= f.password_field :password, :class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :password_confirmation, t(:password_confirmation) %><br>
    <%= f.password_field :password_confirmation, :class=>"form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :chruch_id, t(:church) %><br>
    <%= f.select :chruch_id, Chruch.all.collect{ |c| [c.name, c.id]},{:prompt=>"--"},{:class=>"form-control"} %></div>
  </div>
  <div class="actions">
    <%= f.button :submit %>
  </div>
<% end %>
