<h1><%= t('listing') %>  <%= t('departments') %></h1>

<table>
  <thead>
    <tr>
      <th><%= t('name') %></th>
      <th><%= t('description') %></th>
      <th><%= t('member') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @departaments.each do |departament| %>
      <tr>
        <td><%= departament.name %></td>
        <td><%= departament.description %></td>
        <td><%= departament.member %></td>
        <td><%= link_to t('show'), departament %></td>
        <td><%= link_to t('edit'), edit_departament_path(departament) %></td>
        <td><%= link_to t('destroy'), departament, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('new')+' '+t('department'), new_departament_path, :class=>"btn btn-primary" %>
