<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :birth_date %><br>
    <%= f.date_select :birth_date,{:start_year => Time.now.year - 100} %>
  </div>
  <div class="field">
    <%= f.label :sex %><br>
    <%= f.select :sex, {t('female') => 0, t('male') => 1 } %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :neighborhood %><br>
    <%= f.text_field :neighborhood %>
  </div>
  <div class="field">
    <%= f.label :city %><br>
    <%= f.text_field :city %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state %>
  </div>
  <div class="field">
    <%= f.label :country %><br>
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :zip_code %><br>
    <%= f.text_field :zip_code %>
  </div>
  <div class="field">
    <%= f.label :home_phone %><br>
    <%= f.text_field :home_phone %>
  </div>
  <div class="field">
    <%= f.label :mobile_phone %><br>
    <%= f.text_field :mobile_phone %>
  </div>
  <div class="field">
    <%= f.label :work_phone %><br>
    <%= f.text_field :work_phone %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :blood_type %><br>
    <%= f.text_field :blood_type %>
  </div>
  <div class="field">
    <%= f.label :marital_status %><br>
    <%= f.text_field :marital_status %>
  </div>
  <div class="field">
    <%= f.label :congregating %><br>
    <%= f.text_field :congregating %>
  </div>
  <div class="field">
    <%= f.label :photo %><br>
    <%= f.text_field :photo %>
  </div>
  <div class="field">
    <%= f.label :withdrawl_date %><br>
    <%= f.date_select :withdrawl_date %>
  </div>
  <div class="field">
    <%= f.label :departament_id %><br>
    <%= f.text_field :departament_id %>
  </div>
  <div class="field">
    <%= f.label :skills %><br>
    <%= f.text_field :skills %>
  </div>
  <div class="field">
    <%= f.label :worship_date %><br>
    <%= f.date_select :worship_date %>
  </div>
  <div class="field">
    <%= f.label :situation %><br>
    <%= f.text_field :situation %>
  </div>
  <div class="field">
    <%= f.label :profession %><br>
    <%= f.text_field :profession %>
  </div>
  <div class="field">
    <%= f.label :education %><br>
    <%= f.text_field :education %>
  </div>
  <div class="field">
    <%= f.label :baptism_date %><br>
    <%= f.date_select :baptism_date %>
  </div>
  <div class="field">
    <%= f.label :wedding_date %><br>
    <%= f.date_select :wedding_date %>
  </div>
  <div class="field">
    <%= f.label :ministerial_role_id %><br>
    <%= f.text_field :ministerial_role_id %>
  </div>
  <div class="field">
    <%= f.label :facebook %><br>
    <%= f.text_field :facebook %>
  </div>
  <div class="field">
    <%= f.label :twitter %><br>
    <%= f.text_field :twitter %>
  </div>
  <div class="field">
    <%= f.label :instagram %><br>
    <%= f.text_field :instagram %>
  </div>
  <div class="field">
    <%= f.label :whatsapp %><br>
    <%= f.text_field :whatsapp %>
  </div>
  <div class="field">
    <%= f.label :church_id %><br>
    <%= f.text_field :church_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
