<div class="contact-member-form col-md-12">
  <div class="form_group col-md-3">
    <%= f.label :contact_name %><br>
    <%= f.text_field :contact_name,:class=>"form-control" %>
  </div>
  <div class="form_group col-md-3">
    <%= f.label :contact_number %><br>
    <%= f.text_field :contact_number,:class=>"form-control phone" %>
  </div>
  <div class="form_group col-md-3">
    <%= f.label :degree_kinship %><br>
    <%= f.text_field :degree_kinship,:class=>"form-control" %>
  </div>
  <div class="form_group  col-md-3">
    <br/>
    <%= link_to_remove_association t("remove_item"), f, :class => "btn btn-danger" %>
  </div>
</div>
<br/>
<br/>
<hr/>