<div class="form_group">
  <%= f.label :contact_name %><br>
  <%= f.text_field :contact_name,:class=>"form-control" %>
</div>
<div class="form_group">
  <%= f.label :contact_number %><br>
  <%= f.text_field :contact_number,:class=>"form-control phone" %>
</div>
<div class="form_group">
  <%= f.label :degree_kinship %><br>
  <%= f.text_field :degree_kinship,:class=>"form-control" %>
</div>
<%= link_to_remove_association t("remove_item"), f, :class => "btn btn-danger" %>