<h1><%= t('listing_members') %></h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('name') %></th>
      <th><%= t('home_phone') %></th>
      <th><%= t('mobile_phone') %></th>
      <th><%= t('work_phone') %></th>
      <th><%= t('email') %></th>
      <th><%= t('church') %></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @members.each do |member| %>
      <tr>
        <td><%= member.name %></td>
        <td><%= member.home_phone %></td>
        <td><%= member.mobile_phone %></td>
        <td><%= member.work_phone %></td>
        <td><%= member.email %></td>
        <td><%= member.church_id==0 ? member.church_id : member.church.name %></td>
        <td><%= link_to t('show'), member, :class=>'btn btn-default' %></td>
        <td><%= link_to t('edit'), edit_member_path(member), :class=>'btn btn-default' %></td>
        <td><%= link_to t('destroy'), member, :class=>'btn btn-default', method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t('new_member'), new_member_path, :class=>"btn btn-primary" %>
