<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Birth date:</strong>
  <%= @member.birth_date %>
</p>

<p>
  <strong>Sex:</strong>
  <%= t(@member.sex_name) %>
</p>

<p>
  <strong>Address:</strong>
  <%= @member.address %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @member.neighborhood %>
</p>

<p>
  <strong>City:</strong>
  <%= @member.city %>
</p>

<p>
  <strong>State:</strong>
  <%= @member.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @member.country %>
</p>

<p>
  <strong>Zip-code:</strong>
  <%= @member.zip_code %>
</p>

<p>
  <strong>Home phone:</strong>
  <%= @member.home_phone %>
</p>

<p>
  <strong>Mobile phone:</strong>
  <%= @member.mobile_phone %>
</p>

<p>
  <strong>Work phone:</strong>
  <%= @member.work_phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @member.email %>
</p>

<p>
  <strong>Blood type:</strong>
  <%= @member.blood_type %>
</p>

<p>
  <strong>Marital status:</strong>
  <%= t(@member.marital_status_name) %>
</p>

<p>
  <strong>Congregating:</strong>
  <%= @member.congregating==0 ? t('no') : t('yes') %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @member.photo %>
</p>

<p>
  <strong>Withdrawl date:</strong>
  <%= @member.withdrawl_date %>
</p>

<p>
  <strong>Departament:</strong>
  <%= @member.departament %>
</p>

<p>
  <strong>Skills:</strong>
  <%= @member.skills %>
</p>

<p>
  <strong>Worship date:</strong>
  <%= @member.worship_date %>
</p>

<p>
  <strong>Situation:</strong>
  <%= t(@member.situation_name) %>
</p>

<p>
  <strong>Profession:</strong>
  <%= @member.profession %>
</p>

<p>
  <strong>Education:</strong>
  <%= @member.education %>
</p>

<p>
  <strong>Baptism date:</strong>
  <%= @member.baptism_date %>
</p>

<p>
  <strong>Wedding date:</strong>
  <%= @member.wedding_date %>
</p>

<p>
  <strong>Ministerial role:</strong>
  <%= @member.ministerial_role %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @member.facebook %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @member.twitter %>
</p>

<p>
  <strong>Instagram:</strong>
  <%= @member.instagram %>
</p>

<p>
  <strong>Whatsapp:</strong>
  <%= @member.whatsapp %>
</p>

<p>
  <strong>Church:</strong>
  <%= @member.church_id %>
</p>

<%= link_to t('edit'), edit_member_path(@member), :class=>'btn btn-default' %>
<%= link_to t('back'), members_path, :class=>'btn btn-default' %>
